src/karting.pug
extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Картинг'
	- var pageClass = ''
	- var pageUrl = 'karting.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-10.png'
		},
		title: {
			ttl: title
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: '3 автомобиля'},
				{ttl: 'трасса 400 метров'},
			]
		}
	})
	+breadcrumbs({
		items: [
			{
				url: 'razvlecheniya.html',
				ttl: 'Развлечения'
			},
			{
				ttl: title
			}
		]
	})
	include components/b-page-desc/b-page-desc
	.l-container
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p Картодром построен с учётом всех профессиональных требований и оснащён новейшими картами для взрослых и детей. А опытные инструкторы научат вас вождению картов. Он предназначен и для любителей, и для опытных гонщиков.

				.b-page-desc__col
					| Картинг в парк-отеле «Русский» позволит насладиться скоростью, почувствовать себя гонщиком и получить дозу адреналина.
					| Такой досуг будет интересным как для взрослых, так и для детей.
					| В наличии есть как детские, так и взрослые карты, а опытные инструкторы помогут получить новичкам основные навыки управления.
		include components/b-gallery/b-gallery
		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-39.png'
				},
				{
					img: 'images/b-gallery/img-40.png'
				},
				{
					img: 'images/b-gallery/img-41.png'
				}
			]
		}).b-gallery_offset

	include components/s-prices/s-prices
	+sPrices({
		title: {
			ttl: 'Стоимость посещения',
			tagName: 'h2',
			classTtl: 'title-square__ttl_h2'
		},
		desc: {
			txt: 'Скидка 15% в будни для пенсионеров, многодетных семей, участников СВО'
		}
	}).s-prices_s-offset
		img(src="images/s-prices/bg.svg" loading="lazy").s-prices__bg.-bg-2.-hidden-desktop
		.s-prices__cols
			.s-prices__col
				table
					thead
						tr
							th(colspan="2") 1 автомобиль
					tbody
						tr
							td 10 мин
							td 700 р
						tr
							td 30 мин
							td 1600 р
						tr
							td 60 мин
							td 3000 р

			.s-prices__col
				table
					thead
						tr
							th(colspan="2") 3 автомобиля
								=' '
								span (трасса под закрытие)
					tbody
						tr
							td 60 мин
							td 12 500 р

	.l-container
		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		}).b-card-desc_single.b-card-desc_pict-right
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-callback/s-callback

public/karting.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="msapplication-TileImage" content="./images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="./images/favicons/browserconfig.xml">
    <title>Картинг</title>
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="./images/favicons/favicon-48x48.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="apple-touch-icon" sizes="57x57" href="./images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="./images/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="./images/favicons/apple-touch-icon-1024x1024.png">
    <link rel="icon" type="image/png" sizes="228x228" href="./images/favicons/coast-228x228.png">
    <link rel="yandex-tableau-widget" href="./images/favicons/yandex-browser-manifest.json">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <header class="s-header">
      <div class="s-header__l-container l-container"><a class="s-header__logo" href="/home.html"><img class="s-header__logo-img" src="images/logo.svg" width="147" height="30"></a>
        <nav class="s-header__menu" id="mainMenu">
          <button class="s-header__close s-header__close_hidden-desktop js-close-menu" type="button">
            <svg class="icon icon-close s-header__close-icon">
              <use xlink:href="./images/sprite.svg#close"></use>
            </svg>
          </button>
          <div class="s-header__menu-in">
            <ul>
              <li><a href="rooms.html">Номера</a></li>
              <li><a href="spa.html">Спа</a></li>
              <li><a href="restorany.html">Рестораны</a></li>
              <li><a href="razvlecheniya.html">Развлечения</a></li>
              <li><a href="#">Сценарии</a></li>
              <li><a href="biznesu.html">Бизнесу</a></li>
              <li><a href="akcii.html">Акции</a></li>
              <li><a href="contacts.html">Контакты</a></li>
            </ul>
            <button class="btn s-header__btn-callback btn s-header__btn-callback_hidden-desktop" type="button" data-fancybox="" data-src="#callback">Заказать звонок
            </button>
          </div>
        </nav>
        <button class="btn s-header__btn-callback btn s-header__btn-callback_hidden-phone" type="button" data-fancybox="" data-src="#callback">Заказать звонок
        </button><a class="s-header__callback s-header__callback_hidden-desktop _hidden-tablet" href="tel:">
          <svg class="icon icon-phone s-header__callback-icon">
            <use xlink:href="./images/sprite.svg#phone"></use>
          </svg></a>
        <button class="s-header__burger s-header__burger_hidden-desktop js-open-menu" type="button">
          <svg class="icon icon-burger s-header__burger-icon">
            <use xlink:href="./images/sprite.svg#burger"></use>
          </svg>
        </button>
      </div>
    </header>
    <main class="l-main">
            <div class="s-page-banner">
              <picture>
                <source media="(min-width: 992px)" srcset="images/s-page-banner/img-10.webp" type="image/webp"/>
                <source media="(max-width: 991px) and (min-width: 768px)" srcset="images/s-page-banner/img-10-m.webp" type="image/webp"/>
                <source media="(max-width: 767px)" srcset="images/s-page-banner/img-10-s.webp" type="image/webp"/>
                <source media="(min-width: 992px)" srcset="images/s-page-banner/img-10.png" type="image/jpeg"/>
                <source media="(max-width: 991px) and (min-width: 768px)" srcset="images/s-page-banner/img-10-m.png" type="image/jpeg"/><img class="s-page-banner__bg" src="images/s-page-banner/img-10-s.webp" srcset="images/s-page-banner/img-10-s.png" alt="Название картинки" loading="lazy"/>
              </picture>
              <div class="s-page-banner__l-container l-container">
                <h1 class="s-page-banner__title">Картинг</h1>
                <ul class="s-page-banner__list s-page-banner__list ">
                  <li>3 автомобиля</li>
                  <li>трасса 400 метров</li>
                </ul>
              </div>
            </div>
      <div class="breadcrumbs">
        <div class="breadcrumbs__l-container l-container l-container_xl">
          <ul>
            <li><a href="home.html"><span>Главная</span></a>
              <svg class="icon icon-angle-right breadcrumbs__icon">
                <use xlink:href="./images/sprite.svg#angle-right"></use>
              </svg>
            </li>
            <li><a href="razvlecheniya.html"><span>Развлечения</span></a>
              <svg class="icon icon-angle-right">
                <use xlink:href="./images/sprite.svg#angle-right"></use>
              </svg>
            </li>
            <li><span>Картинг</span></li>
          </ul>
        </div>
      </div>
      <div class="l-container">
              <div class="b-page-desc">
                <div class="b-page-desc__cols">
                  <div class="b-page-desc__col">
                    <p>Картодром построен с учётом всех профессиональных требований и оснащён новейшими картами для взрослых и детей. А опытные инструкторы научат вас вождению картов. Он предназначен и для любителей, и для опытных гонщиков.</p>
                  </div>
                  <div class="b-page-desc__col">
                    Картинг в парк-отеле «Русский» позволит насладиться скоростью, почувствовать себя гонщиком и получить дозу адреналина.
                    Такой досуг будет интересным как для взрослых, так и для детей.
                    В наличии есть как детские, так и взрослые карты, а опытные инструкторы помогут получить новичкам основные навыки управления.
                  </div>
                </div>
              </div>
                <div class="b-gallery b-gallery_offset">
                  <div class="b-gallery__swiper swiper">
                    <div class="b-gallery__swiper-wrapper swiper-wrapper">
                      <div class="b-gallery__swiper-slide swiper-slide">
                        <picture>
                          <source srcset="images/b-gallery/img-39.webp" type="image/webp"/>
                          <source srcset="images/b-gallery/img-39.png" type="image/jpeg"/><img class="b-gallery__img" src="images/b-gallery/img-39.webp" srcset="images/b-gallery/img-39.png" alt="Название картинки" loading="lazy"/>
                        </picture>
                      </div>
                      <div class="b-gallery__swiper-slide swiper-slide">
                        <picture>
                          <source srcset="images/b-gallery/img-40.webp" type="image/webp"/>
                          <source srcset="images/b-gallery/img-40.png" type="image/jpeg"/><img class="b-gallery__img" src="images/b-gallery/img-40.webp" srcset="images/b-gallery/img-40.png" alt="Название картинки" loading="lazy"/>
                        </picture>
                      </div>
                      <div class="b-gallery__swiper-slide swiper-slide">
                        <picture>
                          <source srcset="images/b-gallery/img-41.webp" type="image/webp"/>
                          <source srcset="images/b-gallery/img-41.png" type="image/jpeg"/><img class="b-gallery__img" src="images/b-gallery/img-41.webp" srcset="images/b-gallery/img-41.png" alt="Название картинки" loading="lazy"/>
                        </picture>
                      </div>
                    </div>
                  </div>
                </div>
      </div>
            <div class="s-prices s-prices_s-offset">
              <div class="s-prices__l-container l-container">
                <div class="s-prices__head">
                  <div class="title-square">
                    <h2 class="title-square__ttl_h2 title-square__ttl">Стоимость посещения</h2>
                  </div>
                </div>
                <div class="s-prices__desc">Скидка 15% в будни для пенсионеров, многодетных семей, участников СВО</div><img class="s-prices__bg s-prices__bg_bg-2 s-prices__bg_hidden-desktop" src="images/s-prices/bg.svg" loading="lazy">
                <div class="s-prices__cols">
                  <div class="s-prices__col">
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">1 автомобиль</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>10 мин</td>
                          <td>700 р</td>
                        </tr>
                        <tr>
                          <td>30 мин</td>
                          <td>1600 р</td>
                        </tr>
                        <tr>
                          <td>60 мин</td>
                          <td>3000 р</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="s-prices__col">
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">3 автомобиля <span>(трасса под закрытие)</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>60 мин</td>
                          <td>12 500 р</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      <div class="l-container">
        <div class="b-card-desc b-card-desc_single b-card-desc_pict-right">
          <div class="b-card-desc__pict img">
            <picture>
              <source srcset="images/b-card-desc/img-3.webp" type="image/webp"/>
              <source srcset="images/b-card-desc/img-3.png" type="image/jpeg"/><img class="b-card-desc__img" src="images/b-card-desc/img-3.webp" srcset="images/b-card-desc/img-3.png" alt="Название картинки" loading="lazy"/>
            </picture>
          </div>
          <div class="b-card-desc__desc">
            <div class="b-card-desc__title b-card-desc__title_h5">ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ </div>
            <div class="b-card-desc__txt">Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей</div>
            <a class="btn b-card-desc__btn" href="#">Подробнее
            </a><img class="b-card-desc__bg b-card-desc__bg_hidden-phone" src="images/b-card-desc/bg.svg"/>
          </div>
        </div>
        <div class="b-card-desc b-card-desc_single">
          <div class="b-card-desc__pict img">
            <picture>
              <source srcset="images/b-card-desc/img-6.webp" type="image/webp"/>
              <source srcset="images/b-card-desc/img-6.png" type="image/jpeg"/><img class="b-card-desc__img" src="images/b-card-desc/img-6.webp" srcset="images/b-card-desc/img-6.png" alt="Название картинки" loading="lazy"/>
            </picture>
          </div>
          <div class="b-card-desc__desc">
            <h4 class="b-card-desc__title b-card-desc__title_h5">Подарочные сертификаты в SPA-комплекс «аквамарин»</h4>
            <a class="b-card-desc__btn_buy btn b-card-desc__btn" href="#">Купить сертификат
            </a><img class="b-card-desc__bg b-card-desc__bg_hidden-phone" src="images/b-card-desc/bg.svg"/>
          </div>
        </div>
      </div>
      <div class="s-callback">
        <div class="s-callback__l-container l-container">
          <div class="s-callback__block">
            <div class="s-callback__title s-callback__title_h2">Нужна помощь?</div>
            <div class="s-callback__desc">Оставьте свои данные и наши специалисты помогут с выбором!</div>
            <form class="s-callback__form js-validate">
              <div class="s-callback__form-group">
                <div class="input">
                  <input class="input__field" id="input-1" type="text" placeholder="Имя" required="required" pattern=".{2,}"></input>
                </div>
              </div>
              <div class="s-callback__form-group">
                <div class="input">
                  <input class="input__field" id="input-2" type="tel" placeholder="Номер телефона" required="required" pattern="\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2}"></input>
                </div>
              </div>
              <button class="btn s-callback__btn" type="submit">Отправить
              </button><a class="s-callback__whatsapp" href="#"><span>Написать в WhatsApp</span><img src="images/socials/whatsapp.svg" loading="lazy" width="33" height="33">
                </a>
            </form><img class="s-callback__bg s-callback__bg_left s-callback__bg_hidden-phone" src="images/s-callback/bg-left.svg" loading="lazy"><img class="s-callback__bg s-callback__bg_right s-callback__bg_hidden-phone" src="images/s-callback/bg-right.svg" loading="lazy">
          </div>
        </div>
      </div>
    </main>
    <footer class="s-footer">
      <div class="s-footer__l-container l-container">
        <div class="s-footer__top">
          <div class="s-footer__col s-footer__col_first">
            <div class="s-footer__info"><a class="s-footer__logo" href="home.html"><img class="s-footer__logo-img" src="images/logo-footer.svg" loading="lazy" width="176" height="37"></a>
              <div class="s-footer__desc">142253, городской округ Серпухов, д. Дракино, парк-отель «Русский»</div>
              <div class="s-footer__reviews">
                <picture>
                  <source srcset="images/s-footer/img.webp" type="image/webp"/>
                  <source srcset="images/s-footer/img.png" type="image/jpeg"/><img src="images/s-footer/img.webp" srcset="images/s-footer/img.png" alt="Название картинки" loading="lazy"/>
                </picture>
              </div>
            </div>
            <ul>
              <li><a class="lnk lnk_reverse" href="#">Номера</a></li>
              <li><a class="lnk lnk_reverse" href="#">Спа</a></li>
              <li><a class="lnk lnk_reverse" href="#">Рестораны</a></li>
              <li><a class="lnk lnk_reverse" href="#">Развлечения</a></li>
              <li><a class="lnk lnk_reverse" href="#">Бизнесу</a></li>
              <li><a class="lnk lnk_reverse" href="#">Акции</a></li>
              <li><a class="lnk lnk_reverse" href="#">Мероприятия</a></li>
              <li><a class="lnk lnk_reverse" href="#">Сценарии</a></li>
              <li><a class="lnk lnk_reverse" href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="s-footer__col s-footer__col_last">
            <div class="s-footer__contacts">
              <div class="s-footer__itm">
                <div class="s-footer__ttl">Отдел продаж и бронирования</div><a href="tel:+74994606590">
                  <svg class="icon icon-phone">
                    <use xlink:href="./images/sprite.svg#phone"></use>
                  </svg>+7 499 460 65 90</a>
              </div>
              <div class="s-footer__itm">
                <div class="s-footer__ttl">Корпоративный отдел</div><a href="tel:+74994606590">
                  <svg class="icon icon-phone">
                    <use xlink:href="./images/sprite.svg#phone"></use>
                  </svg>+7 499 460 65 90 доб. 063</a>
              </div>
              <div class="s-footer__itm">
                <div class="s-footer__ttl">CПА-комплекс</div><a href="tel:+74994908153">
                  <svg class="icon icon-phone">
                    <use xlink:href="./images/sprite.svg#phone"></use>
                  </svg>+7 499 490 81 53</a>
              </div>
              <div class="s-footer__itm">
                <div class="s-footer__ttl">Ресторан Павлин</div><a href="tel:+74994908219">
                  <svg class="icon icon-phone">
                    <use xlink:href="./images/sprite.svg#phone"></use>
                  </svg>+7 499 490 82 19</a>
              </div>
              <div class="s-footer__itm">
                <div class="s-footer__ttl">Отдел продаж и бронирования</div><a href="mailto:sale@phrus.ru">
                  <svg class="icon icon-mail">
                    <use xlink:href="./images/sprite.svg#mail"></use>
                  </svg>sale@phrus.ru</a>
              </div>
              <div class="s-footer__itm">
                <div class="s-footer__ttl">Корпоративный отдел</div><a href="mailto:corp@phrus.ru">
                  <svg class="icon icon-mail">
                    <use xlink:href="./images/sprite.svg#mail"></use>
                  </svg>corp@phrus.ru</a>
              </div>
            </div>
                        <div class="socials s-footer__socials"><a class="itm" href="#" target="_blank"><img src="images/socials/vk.svg" loading="lazy" width="33" height="33"></a><a class="itm" href="#" target="_blank"><img src="images/socials/whatsapp.svg" loading="lazy" width="33" height="33"></a><a class="itm" href="#" target="_blank"><img src="images/socials/telegram.svg" loading="lazy" width="33" height="33"></a>
                        </div>
          </div>
        </div>
        <div class="s-footer__btm"><a class="s-footer__policy lnk lnk_reverse" href="/policy.html"> Политика конфиденциальности</a>
          <div class="s-footer__copy">© Парк-отель «Русский» 2024</div><a class="s-footer__dev" href="https://propixeli.studio/ " target="_blank"><img src="images/logo-dev.svg"></a>
        </div>
      </div>
    </footer>
        <div class="s-popup" id="callback">
          <div class="s-popup__title popup__title_h4">Закажите звонок</div>
          <div class="s-popup__desc">Оставьте свои данные и наши специалисты помогут с выбором!</div>
          <form class="callback js-validate">
            <div class="callback__form-group">
              <div class="input">
                <input class="input__field" id="input-3" type="text" placeholder="Имя" required="required" pattern=".{2,}"></input>
              </div>
            </div>
            <div class="callback__form-group">
              <div class="input">
                <input class="input__field" id="input-4" type="tel" placeholder="Номер телефона" required="required" pattern="\+7\s\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2}"></input>
              </div>
            </div>
            <button class="btn callback__btn" type="submit">Отправить
            </button>
            <div class="callback__footnote">Нажимая на кнопку вы соглашаетесь с условиями обработки данных и <a href="policy.html">политикой конфиденциальности</a></div>
          </form>
        </div>
    <script src="./js/main.js"></script>
  </body>
</html>
